<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <ul class="footer-columns">
            <li class="footer_item">
                <h2>En cas d'erreur</h2>
                <a href="#" class="footer-link">Nous contacter</a>
            </li>
            <li class="footer-item">
                <h2>Liens :</h2>
            </li>
        </ul>
    </div>
</body>

</html>